html {
	min-height: 100%;
}
body {
	background-size: cover;
	background-attachment: fixed;
	background-image: url("../images/Emerson-Fittipaldi.png");
}
.jumbotron {
	background-color: white;
	border-radius: 3px;
	padding: 0px 20px;
}
.row {
	padding: 8px;
}
#container {
	margin: 15px auto;
	width: 95%;
}
#dvImportSegments {
	border-bottom: 1px solid #ccc;
	padding: 15px 0px;
}